@page "/loadedfiledisplay"
@using AgaiUI.Data
@using Agai
@using Newtonsoft.Json;

@if (@File is null)
{
    <tr>Loading...</tr>
}
else
{
    var f = File.Value.FileInfo;
    <tr>
        <td>@f.Name</td>
        <td>@f.LastModified.ToString("u")</td>
        <td>@f.Size</td>
        <td>@f.ContentType</td>
        <td>
            <button class="loadedFileHolder center" @onclick="()=>SelectFile()">
                Select
            </button>
        </td>
    </tr>
}

@code {
    [Parameter]
    public HelpfulFileData? File { get; set; }

    [Parameter]
    public EventCallback<HelpfulFileData> FileSelected { get; set; }

    protected async Task SelectFile()
    {
        if (File is not null)
            await FileSelected.InvokeAsync(File.Value);
    }
}
