@page "/energyflowpaneldisplay"
@using Agai

@if (Panel is null)
{
    <img src="assets/panels/blocked.jpg" />
}
else
{
    // TODO: tooltip https://steven-giesel.com/blogPost/fda6848e-61f6-40d0-95c8-45925712b462
    <div class="energyFlowPanel">
        <p>@Index</p>
        @if (Panel.Name.Equals("Empty"))
        {
            <img src="assets/panels/emptypanel.jpg" />
        }
        else
        {
            <p>@Panel.Name</p>
        }
    </div>
}

@code {
    [Parameter]
    public EnergyFlowPanel Panel { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public EventCallback<(EnergyFlowPanel Panel, int Index)> PanelModified { get; set; }
}
