@page "/energyflowgrideditor"
@using System.Linq
@using Agai

@if (Grid is null)
{
    <div>Loading...</div>
}
else
{
    if (!Open)
    {
        <div>Name: @Grid.Name</div>
    }
    else
    {
        <div class="energyFlowGridEditor">
            <div class="energyFlowGridEditorHeader">@Grid.Name</div>
            <div class="energyFlowGridEditorGrid" style="grid-template-columns: repeat(@Grid.Width, 1fr);
    background: url(@GridBackground);">
                @if (Grid.Panels.All(p => p is null))
                {
                    <button @onclick="InitGridToAllEnabled">
                        Init
                    </button>
                }
                @if (Grid.Panels.Any())
                {
                    var i = 0;
                    @foreach (var panel in Grid.Panels)
                    {
                        if (panel == null)
                        {
                            // todo extract
                            <div class="emptyPanel" />
                        }
                        else
                        {
                            var index = i++;
                            <EnergyFlowPanelDisplay Panel="@panel"
                                                    Index="index"
                                                    OnPanelModified="PanelChanged"
                                                    OnDragStart="HandleDragStart"
                                                    OnDropped="HandleDropped" />
                        }
                    }
                }
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public EnergyFlowGrid Grid { get; set; }

    [Parameter]
    public bool Open { get; set; } = false;

    public string GridBackground => $"assets/energybackgrounds/{Grid.Name}.jpg";
    internal (EnergyFlowPanel Panel, int Index) DraggingPanel { get; set; }
    protected async Task InitGridToAllEnabled()
    {
        var leng = Grid.Width * Grid.Height;
        Grid.Panels = Enumerable.Range(0, leng)
            .Select(a => EnergyFlowPanel.Default)
            .ToList();
        Grid.Panels[leng / 2 + Grid.Width / 2] = new SourceEnergyPanel();
        await Task.CompletedTask;
    }

    private void PanelChanged((EnergyFlowPanel Panel, int Index) newPanelStatus)
    {
        Grid.Panels[newPanelStatus.Index] = newPanelStatus.Panel;
        StateHasChanged();
    }

    private async Task HandleDragStart((EnergyFlowPanel Panel, int Index) panelDragging)
    {
        DraggingPanel = panelDragging;
        await Task.CompletedTask;
    }

    private async Task HandleDropped((EnergyFlowPanel Panel, int Index) targetPanel)
    {
        Swap(targetPanel, DraggingPanel);
        await Task.CompletedTask;
    }

    private void Swap((EnergyFlowPanel Panel, int Index) target, (EnergyFlowPanel Panel, int Index) source)
    {
        Grid.Panels[target.Index] = source.Panel;
        Grid.Panels[source.Index] = target.Panel;
        StateHasChanged();
    }
}
